# Measures of Spread in Pandas and Numpy
Measures of spread are typically defined as quantiles, standard deviation, and variance. The goal is to find what and how much variation there is in your data. We can use `.quantile()`, `.std()`, and `.var()` on our DataFrame, Series, or Group to calculate these measurements.

Explore this notebook using the `census_income_data.csv` dataset to answer questions from these methods. We'll utilize the groupby method again to facilitate our methodology.

In [8]:
import pandas as pd

In [29]:
# Load the dataset
df= pd.read_csv('census_income_data.csv')

In [31]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Using quantile on a DataFrame

#### What was the 25%, 50%, 75%, 90%, and 95% quantile of capital gained and lost in our dataset?
Let's use the `.quantile()` method on our DataFrame to aggregate these totals at a high level.

Wow! We had to get to the 95% quantile to show any `capital-gain`. This means at least 90% of our dataset never bought or sold any assets, 0 `capital-gain` and 0 `capital-loss`.

In [24]:
df[['capital-gain','capital-loss']].quantile([.25,.5,.75,.9,.95])

      capital-gain  capital-loss
0.25           0.0           0.0
0.50           0.0           0.0
0.75           0.0           0.0
0.90           0.0           0.0
0.95        5013.0           0.0

## Using Quantile, Standard Deviation, and Variance on a Group

####  are the different workclass types

In [36]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

#### If we group by 'workclass', what are some interesting questions and answers?
We'll use `.quantile()`, `.std()`, `.var()` to see how the each metric tells a different story for each 'workclass'. For quantile, since we already know that most of the data is 0, we will only look at the 50%, 90%, and 95% quantiles. Let's focus only on "age", "capital-gain", "capital-loss", and "hours-per-week".

We finally see some differences between different work classes for `capital-gain`. Notably `Self-emp-inc`, `Self-emp-not-inc`, and `Without-pay` have a larger portion of their group selling assets, `capital-gain` > 0 in the 90% quantile compared to the 95% quantile for others.

What can you say about the `age` and `hours-per-week` quantiles for the different groups?

In [44]:
#quantile with group by func
df.groupby(by='workclass')[["age", "capital-gain", "capital-loss", "hours-per-week"]].quantile([.5,.9,.95])

                         age  capital-gain  capital-loss  hours-per-week
workclass
 Federal-gov      0.50  43.0           0.0          0.00            40.0
                  0.90  58.0           0.0          0.00            50.0
                  0.95  61.0        7298.0       1579.55            60.0
 Local-gov        0.50  41.0           0.0          0.00            40.0
                  0.90  58.0           0.0          0.00            52.0
                  0.95  63.0        5178.0       1583.40            60.0
 Never-worked     0.50  18.0           0.0          0.00            35.0
                  0.90  25.8           0.0          0.00            40.0
                  0.95  27.9           0.0          0.00            40.0
 Private          0.50  35.0           0.0          0.00            40.0
                  0.90  55.0           0.0          0.00            50.0
                  0.95  60.0        4386.0          0.00            60.0
 Self-emp-inc     0.50  45.0           0.0          0.00            50.0
                  0.90  63.0       14084.0          0.00            65.0
                  0.95  67.0       15024.0       1902.00            70.0
 Self-emp-not-inc 0.50  44.0           0.0          0.00            40.0
                  0.90  63.0        1409.0          0.00            63.0
                  0.95  68.0        7430.0       1672.00            72.0
 State-gov        0.50  39.0           0.0          0.00            40.0
                  0.90  57.0           0.0          0.00            50.0
                  0.95  61.0        5178.0          0.00            60.0
 Without-pay      0.50  57.0           0.0          0.00            27.5
                  0.90  67.7        1689.8          0.00            53.5
                  0.95  69.4        3114.7          0.00            58.5

In [38]:
#Standard Deviation
df.groupby(by='workclass').std()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,11.509171,117502.359524,2.113650,4101.966767,453.504623,8.838605
Local-gov,12.272856,100254.775314,2.552536,5775.043442,439.513203,10.771559
Never-worked,4.613644,108135.748347,2.299068,0.000000,0.000000,15.186147
Private,12.827721,105789.668252,2.495500,6424.267599,384.157003,11.256298
Self-emp-inc,12.553194,96436.282913,2.603210,17976.548086,549.488497,13.900417
Self-emp-not-inc,13.338162,100735.757730,2.768132,10986.233506,467.611687,16.674958
State-gov,12.431065,111512.980926,2.538604,3777.749185,394.469789,11.697014
Without-pay,21.075610,85536.385921,1.685426,1300.780467,0.000000,17.357900

In [39]:
#variance
df.groupby(by='workclass').var()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,132.461017,1.380680e+10,4.467517,1.682613e+07,205666.442818,78.120942
Local-gov,150.622997,1.005102e+10,6.515440,3.335113e+07,193171.855905,116.026473
Never-worked,21.285714,1.169334e+10,5.285714,0.000000e+00,0.000000,230.619048
Private,164.550434,1.119145e+10,6.227522,4.127121e+07,147576.603140,126.704246
Self-emp-inc,157.582670,9.299957e+09,6.776703,3.231563e+08,301937.608495,193.221591
Self-emp-not-inc,177.906562,1.014769e+10,7.662553,1.206973e+08,218660.689455,278.054230
State-gov,154.531374,1.243514e+10,6.444510,1.427139e+07,155606.414471,136.820127
Without-pay,444.181319,7.316473e+09,2.840659,1.692030e+06,0.000000,301.296703

Because of how variance is calculated (squaring of the standard deviation), it can be used to help spot distributions with outliers. Look again at the three government groups. It appears the state government group is more widly spread than the other two. Maybe the outliers in the group are more obvious?

Some additional notes about variance:
 - While using variance to spot outliers can be used, there are better methods available, such as interquartile range (IQR) or median absolute deviation (MAD).
 - Variance is important in other areas, like calculating confidence intervals, data normalization, testing hypotheses, and assessing the quality of statistical models.

In [47]:
df.groupby(by='workclass')[['capital-gain','capital-loss']].describe(percentiles=[.50,.90,.95])

                  capital-gain                                                \
                         count         mean           std  min  50%      90%
workclass
 Federal-gov             960.0   833.232292   4101.966767  0.0  0.0      0.0
 Local-gov              2093.0   880.202580   5775.043442  0.0  0.0      0.0
 Never-worked              7.0     0.000000      0.000000  0.0  0.0      0.0
 Private               22696.0   889.217792   6424.267599  0.0  0.0      0.0
 Self-emp-inc           1116.0  4875.693548  17976.548086  0.0  0.0  14084.0
 Self-emp-not-inc       2541.0  1886.061787  10986.233506  0.0  0.0   1409.0
 State-gov              1298.0   701.699538   3777.749185  0.0  0.0      0.0
 Without-pay              14.0   487.857143   1300.780467  0.0  0.0   1689.8

                                    capital-loss                               \
                       95%      max        count        mean         std  min
workclass
 Federal-gov        7298.0  99999.0        960.0  112.268750  453.504623  0.0
 Local-gov          5178.0  99999.0       2093.0  109.854276  439.513203  0.0
 Never-worked          0.0      0.0          7.0    0.000000    0.000000  0.0
 Private            4386.0  99999.0      22696.0   80.008724  384.157003  0.0
 Self-emp-inc      15024.0  99999.0       1116.0  155.138889  549.488497  0.0
 Self-emp-not-inc   7430.0  99999.0       2541.0  116.631641  467.611687  0.0
 State-gov          5178.0  99999.0       1298.0   83.256549  394.469789  0.0
 Without-pay        3114.7   4416.0         14.0    0.000000    0.000000  0.0


                   50%  90%      95%     max
workclass
 Federal-gov       0.0  0.0  1579.55  3683.0
 Local-gov         0.0  0.0  1583.40  2444.0
 Never-worked      0.0  0.0     0.00     0.0
 Private           0.0  0.0     0.00  4356.0
 Self-emp-inc      0.0  0.0  1902.00  2559.0
 Self-emp-not-inc  0.0  0.0  1672.00  2824.0
 State-gov         0.0  0.0     0.00  3683.0
 Without-pay       0.0  0.0     0.00     0.0

Remember that we can use the `.describe()` method on groups to produce many of these measurements. We can also use the `percentiles` parameter to customize which quantiles we want to target.

In [48]:
df.describe(include='all')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,30725,3.256100e+04,32561,32561.000000,32561,30718,32561,32561,32561,32561.000000,32561.000000,32561.000000,31978,32561
unique,NaN,8,NaN,16,NaN,7,14,6,5,2,NaN,NaN,NaN,41,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN